In [1]:
# Dictionary
# Indexed
# Ordered
# Multiple data
# Mutable

In [5]:
#  a = {<Key>:<value>,<key>:<value>}
a={'a':'sarita','b':'prastae',3:'sami'}  
print(a)
print(type(a))

{'a': 'sarita', 'b': 'prastae', 3: 'sami'}
<class 'dict'>

In [8]:
print(a['b'])

prastae

In [9]:
print(a[3])

sami

In [10]:
a = {'a':"Apple",'b':"Ball",'c':'Cat'}
print(len(a))

3

In [11]:

a = {}
a['a'] = "Apple"
a['b'] = "Ball"
a['c'] = "Cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [13]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    data[name] = phone
    
print(data)

Enter n = 2
Enter name = sarita
Enter phone = 789
Enter name = ashna
Enter phone = 908
{'sarita': 789, 'ashna': 908}

In [14]:
a = {'Ram': 9809887865, 'Shyam': 9809778765}
for i in a:
    print(i)

Ram
Shyam

In [15]:
a = {'Ram': 9809887865, 'Shyam': 9809778765}
for i in a.values():
    print(i)

9809887865
9809778765

In [16]:
a = {'Ram': 9809887865, 'Shyam': 9809778765}
for i in a.items():
    print(i)

('Ram', 9809887865)
('Shyam', 9809778765)

In [17]:
a = {'Ram': 9809887865, 'Shyam': 9809778765}
del a['Ram']

print(a)

{'Shyam': 9809778765}

In [18]:
a = {'Ram': 9809887865, 'Shyam': 9809778765}
b = a.pop('Ram')
print(a)
print(b)

{'Shyam': 9809778765}
9809887865

In [19]:
#list inside dictionary
# a = {'Ram': [9809887865,9808778765], 'Shyam': [9809778765,9808667654]}
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc no = "))
    ncell_phone = int(input("Enter ncell_no = "))
    info[name] = [ntc_phone,ncell_phone]
print(info)

Enter n = 2
Enter name = sarita
Enter ntc no = 98
Enter ncell_no = 099
Enter name = ashna
Enter ntc no = 876
Enter ncell_no = 567
{'sarita': [98, 99], 'ashna': [876, 567]}

In [24]:
a = {'Ram': [9867667654, 9878979978], 'Shyam': [987656756, 9877567878]}
a['Shyam']

[987656756, 9877567878]

In [25]:
a = {'Ram': [9867667654, 9878979978], 'Shyam': [987656756, 9877567878]}
a['Ram'].append(9808667654)
a['Ram']

[9867667654, 9878979978, 9808667654]

In [26]:
a = {'Ram': [9867667654, 9878979978], 'Shyam': [987656756, 9877567878]}
a['Ram'].append(9808667654)
a

{'Ram': [9867667654, 9878979978, 9808667654], 'Shyam': [987656756, 9877567878]}

In [27]:
a['Hari'] = [9856556543,98787765478]
a

{'Ram': [9867667654, 9878979978, 9808667654],
 'Shyam': [987656756, 9877567878],
 'Hari': [9856556543, 98787765478]}

In [28]:
a = {'Name':["Ram","Shyam"],
     'NTC':[984778765,9845667654],
    'NCELL':[9808667654,9808667654]}

In [29]:
info = {'Name':[],'NTC':[],'NCELL':[]}

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc no = "))
    ncell_phone = int(input("Enter ncell_no = "))
    info["Name"].append(name)
    info["NTC"].append(ntc_phone)
    info['NCELL'].append(ncell_phone)
    
print(info)

Enter n = 2
Enter name = sarita
Enter ntc no = 908
Enter ncell_no = 9766
Enter name = ashna
Enter ntc no = 64748
Enter ncell_no = 7900
{'Name': ['sarita', 'ashna'], 'NTC': [908, 64748], 'NCELL': [9766, 7900]}

In [30]:
info = [{'Name':'Ram','Age':45,'Add':'Kathmandu'},
       {'Name':'Shyam','Age':34,'Add':'Bhaktapur'},
       {'Name':'Hari','Age':44,'Add':'Lalitpur'},
       {'Name':'Sita','Age':34,'Add':'Kathmandu'}]

info[0]

{'Name': 'Ram', 'Age': 45, 'Add': 'Kathmandu'}

In [31]:
info[0]['Name']

'Ram'

In [32]:
info[0]['Name'] = "Ram Prasad"
info

[{'Name': 'Ram Prasad', 'Age': 45, 'Add': 'Kathmandu'},
 {'Name': 'Shyam', 'Age': 34, 'Add': 'Bhaktapur'},
 {'Name': 'Hari', 'Age': 44, 'Add': 'Lalitpur'},
 {'Name': 'Sita', 'Age': 34, 'Add': 'Kathmandu'}]

In [33]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {"Name":name,"Age ":age,"Add":add}
    info.append(data)
print(info)

Enter n = 2
Enter name = sami
Enter age = 3
Enter add = bhat
Enter name = ashna
Enter age = 7
Enter add = nakhu
[{'Name': 'sami', 'Age ': 3, 'Add': 'bhat'}, {'Name': 'ashna', 'Age ': 7, 'Add': 'nakhu'}]

In [35]:
data = {'coke':100,'pizza':150,'mo-mo':100}


product = input('Enter product name = ')
price = data[product]
quantity = int(input("Enter quantity = "))

total = price*quantity
print(total)

Enter product name = coke
Enter quantity = 100
10000

In [36]:
# dict inside dict
a = {111234:{'Name': 'Ram Prasad', 'Age': 45, 'Add': 'Kathmandu'},
     223432:{'Name': 'Shyam', 'Age': 34, 'Add': 'Bhaktapur'},
     334321:{'Name': 'Hari', 'Age': 44, 'Add': 'Lalitpur'},
     434572:{'Name': 'Sita', 'Age': 34, 'Add': 'Kathmandu'}}
print(a)

{111234: {'Name': 'Ram Prasad', 'Age': 45, 'Add': 'Kathmandu'}, 223432: {'Name': 'Shyam', 'Age': 34, 'Add': 'Bhaktapur'}, 334321: {'Name': 'Hari', 'Age': 44, 'Add': 'Lalitpur'}, 434572: {'Name': 'Sita', 'Age': 34, 'Add': 'Kathmandu'}}

In [37]:
print(a[111234])

{'Name': 'Ram Prasad', 'Age': 45, 'Add': 'Kathmandu'}

In [38]:
a [453456] = {'Name':'Sabin','Age':56,'Add':'Kathmandu'}
a

{111234: {'Name': 'Ram Prasad', 'Age': 45, 'Add': 'Kathmandu'},
 223432: {'Name': 'Shyam', 'Age': 34, 'Add': 'Bhaktapur'},
 334321: {'Name': 'Hari', 'Age': 44, 'Add': 'Lalitpur'},
 434572: {'Name': 'Sita', 'Age': 34, 'Add': 'Kathmandu'},
 453456: {'Name': 'Sabin', 'Age': 56, 'Add': 'Kathmandu'}}

In [ ]:
# WAP to create dict inside dict