In [4]:
# tuple
# characteristics of tuple:
# indexed
# ordered
# multiple and duplicate data
# imutable

In [5]:
a=tuple()             #if used small bracket then it is tuple
a=(1,2,3,4,5,6)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [8]:
a=(1,)                  #in this if only one value then we need to give comma to detect tuple.
b=("apple",)
print(type(a))

<class 'tuple'>

In [14]:
b=("apple","appyye","appe","apples")
print(a[0])
print(a[0:4])
print(a[0:4:2])

apple
('apple', 'ball', 'cat', 'dog')
('apple', 'cat')

In [11]:
a=("apple","ball","cat","dog")
b=("fish",)
c=a+b
print(c)

('apple', 'ball', 'cat', 'dog', 'fish')

In [13]:
a=("apple","ball","cat","dog")
a*2

('apple', 'ball', 'cat', 'dog', 'apple', 'ball', 'cat', 'dog')

In [17]:
# it has features such as
# no append()
# no insert()
# no extend()
# no del()
# no remove()
# no pop()
#tuple is sensitive thus it cannot change its index

In [19]:
#we can create 
t=tuple()
n=int(input("enter n"))
for i in range(n):
    x=input("enter x=")
    t=t+ (x,)
    
print(t)

enter n2
enter x=ram
enter x=sary
('ram', 'sary')

In [20]:
def cal():
    a=10
    v=50                 #tuple used in this beacause these a and  v value  are fixed.tuple is not dynamic value.
    return a,v

cal()

(10, 50)

In [21]:
a=10,11,12
print(a)

(10, 11, 12)

In [22]:
# coverting tuple to list
a=("apple","ball","cat","dog")
b=list(a)                         
del b[0]
a=tuple(b)
print(a)

('ball', 'cat', 'dog')

In [24]:
# tuple inside tuple
a=(('ram',6,'ktm'),
   ('sarita',22,'hattiban'))
print(a)

(('ram', 6, 'ktm'), ('sarita', 22, 'hattiban'))

In [25]:
a=(('ram',6,'ktm'),
   ('sarita',22,'hattiban'))
b=('sar',5,'chowk')
print(a+(b,))

(('ram', 6, 'ktm'), ('sarita', 22, 'hattiban'), ('sar', 5, 'chowk'))

In [27]:
a=(('ram',6,'ktm'),
   ('sarita',22,'hattiban'))
b=(('sar',5,'chowk'),)
print(a+b)

(('ram', 6, 'ktm'), ('sarita', 22, 'hattiban'), ('sar', 5, 'chowk'))

In [28]:
a=(('ram',6,'ktm'),
   ('sarita',22,'hattiban'))
list(a)

[('ram', 6, 'ktm'), ('sarita', 22, 'hattiban')]

In [34]:
a=(('ram',6,'ktm'),
   ('sarita',22,'hattiban'))
b=list(a)
print(b)

[('ram', 6, 'ktm'), ('sarita', 22, 'hattiban')]

In [35]:
del b[0]
print(b)

[('sarita', 22, 'hattiban')]

In [39]:
b.append(("ashna",22,"architec"))
print(b)

[('sarita', 22, 'hattiban'), ('ashna', 22, 'architec'), ('ashna', 22, 'architec')]

In [40]:
b[0]

('sarita', 22, 'hattiban')

In [ ]:
#wap to convert tuple inside tuple to list inside list.
#wap to perform crude operation list inside tuple.
#wap to create tuple inside list
# (['sarita', 22, 'hattiban')], ['ashna', 22, 'architec'], ['ashna', 22, 'architec'])
# #and vise versa