In [ ]:
#list is muttable data type
# Python collection
# List (list is muttable data type)
# tuple
# dictionary
# set

In [ ]:
# # list
# -Indexed
# -Ordered
# -Multiple and duplicate data
# -Mutable

In [1]:
#list
a=["apple","ball","cat","dog","fish"]
l=len(a)
print(l)
print(a)
print(type(a))

5
['apple', 'ball', 'cat', 'dog', 'fish']
<class 'list'>

In [2]:
a=["apple","ball","cat","dog","fish"]
print(a[1])
print(a[0:4])
print(a[0:4:2])

ball
['apple', 'ball', 'cat', 'dog']
['apple', 'cat']

In [3]:
a=["apple","ball","cat","dog","fish"]
b=[1,2,3,4,5]
c=a+b
print(c)

['apple', 'ball', 'cat', 'dog', 'fish', 1, 2, 3, 4, 5]

In [4]:
a=["apple","ball","cat","dog","fish"]
b=[1,2,3,4,5]
c=b+a
print(c)

[1, 2, 3, 4, 5, 'apple', 'ball', 'cat', 'dog', 'fish']

In [39]:
a=["apple","ball","cat","dog","fish"]   #enlargement
print(a*2)

['apple', 'ball', 'cat', 'dog', 'fish', 'apple', 'ball', 'cat', 'dog', 'fish']

In [5]:
a=[1,2,"apple","ball","cat","dog","fish",1,2]
print(a)

[1, 2, 'apple', 'ball', 'cat', 'dog', 'fish', 1, 2]

In [8]:
a=[1,2,"apple","ball","cat","dog","fish",1,2]
l=len(a)
print(l)

9

In [9]:
a=["apple","ball","cat","dog","fish"]   #changeable ie mutable
a[0]="ant"
a

['ant', 'ball', 'cat', 'dog', 'fish']

In [10]:
l=list() #l is list data type here
n=int(input("enter how many people"))
for i in range(n):
    x=int(input("enter x"))
    l.append(x)
    
    
print(l)

enter how many people2
enter you fav animal3
enter you fav animal4
[3, 4]

In [13]:
l=list() #l is list data type here
n=int(input("enter how many people"))
for i in range(n):
    animals=input("enter fav animals")
    l.append(animals)
    
    
print(l)

enter how many people2
enter fav animalsRAT
enter fav animalsCAT
['RAT', 'CAT']

In [15]:
#max min sum
a=[0,6,9,90]
print(max(a))
print(min(a))
print(sum(a))

90
0
105

In [16]:
a.sort()
print(a)

[0, 6, 9, 90]

In [18]:
a=["apple","Ball","cat","dog","fish"]   #in string it brings capital letter at first
a.sort()
print(a)

['Ball', 'apple', 'cat', 'dog', 'fish']

In [19]:
a=["apple","Ball","cat","dog","fish"]
for i in a:
    print(i)

apple
Ball
cat
dog
fish

In [25]:
a=["apple","Ball","cat","dog","fish"]
if "apple" in a:
    print("yes")
    print(a.count("apple"))

yes
1

In [32]:
#append() insert() extend()

In [35]:
a=[]
a.append("Apple")
print(a)

['Apple']

In [36]:
a=["apple","Ball","cat","dog","fish"]
a.insert(1,"cricket")
print(a)

['apple', 'cricket', 'Ball', 'cat', 'dog', 'fish']

In [37]:
a=["apple","Ball","cat","dog","fish"]
b=["haae","Bassll","cat","dog","fish"]
a.extend(b)
print(a)

['apple', 'Ball', 'cat', 'dog', 'fish', 'haae', 'Bassll', 'cat', 'dog', 'fish']

In [38]:
a=[]
b=["haae","Bassll","cat","dog","fish"]
a.extend(b)
print(a)

['haae', 'Bassll', 'cat', 'dog', 'fish']

In [41]:
# remove() del pop()
a=["apple","Ball","cat","dog","fish"]      #remove by value
a.remove("apple")
print(a)

['Ball', 'cat', 'dog', 'fish']

In [42]:
a=["apple","Ball","cat","dog","fish"]    #remove by index mostly used
del a[0]
print(a)

['Ball', 'cat', 'dog', 'fish']

In [43]:
a=["apple","Ball","cat","dog","fish"]    #remove by index mostly used
del a[0:3]
print(a)

['dog', 'fish']

In [45]:
a=["apple","Ball","cat","dog","fish"]    #remove by index 
del a[1:]
print(a)

['apple']

In [46]:
a=["apple","Ball","cat","dog","fish"]     #give index by value
a.index("fish")

4

In [50]:
a=["apple","Ball","cat","dog","fish","apple","apple"] #if two same then cannot remove like apple at last comes pne after another and thus not remove
for i in a:
    if i=="apple":
        a.remove("apple")
print(a)

['Ball', 'cat', 'dog', 'fish', 'apple']

In [52]:
a=["apple","Ball","cat","dog","fish","apple","apple"] #if two same then cannot remove like apple at last comes pne after another and thus not remove
l=a.count('apple')

for i in range(l):
    if a[i]  == "apple":
        a.remove(a[i])
print(a)        
  #again not solved now so we use:

['Ball', 'cat', 'dog', 'fish', 'apple', 'apple']

In [53]:
a=["apple","Ball","cat","dog","fish","apple","apple"]
b=[]
for i in a:
    if i!="apple":
        b.append(i)
print(b)

['Ball', 'cat', 'dog', 'fish']

In [3]:
#wap to detect index of same value 
a=["apple","Ball","cat","dog","fish","apple","apple"]
l=len(a)
for i in range(l):
    if a[i]=="apple":
         print(a[i],i)

apple 0
apple 5
apple 6

In [9]:
a=["Ball","cat","dog","fish","apple","apple"]
l=len(a)
for i in range(l):
    if a[i]=="apple":
           print(a.index("apple"))

4
4

In [14]:
#list inside list
a=[[1,2,3,4],
   [4,5,6],
   [7,8,9]]
print(len(a))

3

In [11]:
print(a[0])

[1, 2, 3, 4]

In [20]:
a=[['ram',6,'ktm'],
   ['sarita',22,'hattiban']]
print(a)

[['ram', 6, 'ktm'], ['sarita', 22, 'hattiban']]

In [21]:
print(a[0])
print(a[0][2])

['ram', 6, 'ktm']
ktm

In [22]:
# name=input("enter name:")
for i in a:
    print(i)

['ram', 6, 'ktm']
['sarita', 22, 'hattiban']

In [24]:
 name=input("enter name:")
for i in a:
    if name in i:
        print(i)

enter name:ram
['ram', 6, 'ktm']

In [28]:
n=int(input("enter how many "))
info=[]
for i in range(n):
    name=input("enter name:")
    age=int(input("enter age"))
    address=input("enter adress:")
    data=[name,age,address]
    info.append(data)
    
print(info)

enter how many 2
enter name:e
enter age3
enter adress:r
enter name:
enter age3
enter adress:rrr
[['e', 3, 'r'], ['', 3, 'rrr']]

In [31]:
a=[['ram',6,'ktm'],
   ['sarita',22,'hattiban']]
del a[0]
print(a)

[['sarita', 22, 'hattiban']]

In [33]:
a=[['ram',6,'ktm'],
   ['sarita',22,'hattiban']]
a[0][0]="ram prasad"
print(a)

[['ram prasad', 6, 'ktm'], ['sarita', 22, 'hattiban']]

In [34]:
a=[['ram',6,'ktm'],
   ['sarita',22,'hattiban']]
a.append(['sami',3,'bhaktapur'])
print(a)

[['ram', 6, 'ktm'], ['sarita', 22, 'hattiban'], ['sami', 3, 'bhaktapur']]

In [36]:
a=[['ram',6,'ktm'],
   ['sarita',22,'hattiban']]
name=input("enter ur name:")
for i in a:
    if name in i:
        a.remove(i)
print(a)

enter ur name:ram
[['sarita', 22, 'hattiban']]

In [37]:
#wap to create a matrix by taking input from user ie row and column 
#list comprehension and filter in bonus topic