In [1]:
a="hello world"
print(a)
print(type(a))

hello world
<class 'str'>

In [2]:
a="hello"
b="world"
c=a+b
print(c)

helloworld

In [4]:
a="hello world\n"
print(a*2)

hello world
hello world

In [6]:
a="hello worl"
print(a[2])

l

In [7]:
a="hello world"
print(a[0:5])

hello

In [9]:
a="hello world"
print(a[0:10:1])

hello worl

In [10]:
a="hello world"
print(a[0:10:2])

hlowr

In [11]:
#string slicing
a="hello world"
b=(a[0:5])
c=(a[5:])
print(b)
print(c)

hello
 world

In [17]:
a="hello world"
l=len(a)
print(a[l::-1])

dlrow olleh

In [18]:
a="hello world"
a[-1]

'd'

In [19]:
#if string concsits of 1 then it does not include it
#if 2 then increment by 2
#-1 indicates the last index of string
#it start form -1 form backside and thus increment

In [22]:
#not using string formatting (imp)
name=(input("enter name"))
age=int(input("enter age"))
address=input("Enter address")
info="hello i am "+name+"i am from"+address+"and my age is "+str(age)
print(info)

enter names
enter age2
Enter addressdd
hello i am si am fromddand my age is 2

In [25]:
#string formating
s=str()
n=int(input("enter how many user"))
for i in range(n):
    name=(input("enter name"))
    age=int(input("enter age"))
    info=f"{name}{age}"
    s=s+info
    print(info)

enter how many user2
enter names
enter age3
s3
enter namer
enter age3
r3

In [26]:
s=str()
n=int(input("enter how many user"))
for i in range(n):
    name=(input("enter name"))
    age=int(input("enter age"))
    info=f"{name}{age}"
    s=s+info
    
print(info)

enter how many user2
enter namess
enter age3
enter namerr
enter age4
rr4

In [24]:
# using string formating
name=(input("enter name"))
age=int(input("enter age"))
address=input("Enter address")
info=f"hello i am {name} i am from {address} and my age is {age}"
print(info)

enter namess
enter age3
Enter addresska
hello i am ss i am from ka and my age is 3

In [29]:
a="ram shyam hari sita gita ram nabin"
name=(input("enter name"))
if name in a:
    print("yes")
else:
    print("no")

enter nameee
no

In [30]:
a="ram shyam hari sita gita ram nabin"
name=(input("enter name"))
if name in a:
    print("yes")
    print(a.count(name))
else:
    print("no")

enter nameram
yes
2

In [32]:
a="Ram shyam hari sita gita ram nabin".lower()

name=(input("enter name:")).lower()
if name in a:
    print("yes")
    print(a.count(name))
else:
    print("no")

enter name:ram
yes
2

In [33]:
#immutable data type: we can se what happen but it remain same
a="Ram shyam hari sita gita ram nabin"
a.upper()
print(a)

Ram shyam hari sita gita ram nabin

In [34]:
# the above problem is solved by this .it changed then aasigned to that variable so that effect of it as a whole get changed

a="Ram shyam hari sita gita ram nabin"
a=a.upper()
print(a)

RAM SHYAM HARI SITA GITA RAM NABIN

In [37]:
a="Ram shyam hari sita gita ram nabin".lower()
a.replace("ram","RAm")
print(a)

ram shyam hari sita gita ram nabin

In [42]:
a="Ram shyam hari sita gita ram nabin"
a=a.title()
print(a)

Ram Shyam Hari Sita Gita Ram Nabin

In [2]:
#wap to develop a biling application using string and loop
# name
# price
# quantity
# total


# grand_total

In [6]:

grandtotal=0
n=int(input("enter how many user"))
for i in range(n):
    name=(input("enter name"))
    price=int(input("enter price"))
    quantity=int(input("enter quantity"))
    total=price*quantity
    print(total)
    info=f"hello your total is {total}"
    print(info)   
    grandtotal=grandtotal+total
    print(grandtotal)
    infso=f"hello your grandtotal is {grandtotal}"
    print(infso)

enter how many user2
enter name33
enter price2
enter quantity4
8
hello your total is 8
8
hello your grandtotal is 8
enter namerr
enter price3
enter quantity4
12
hello your total is 12
20
hello your grandtotal is 20